@import url('https://fonts.googleapis.com/css2?family=Castoro:ital@0;1&display=swap');
@import "tailwindcss";
@import 'tailwind-animations';


body{
  background-color: #0B111E;
  box-sizing: border-box;
  font-family: "Castoro", serif;
}

@theme{
    --breakpoint-*: initial ;
    --breakpoint-sm:576px ;
    --breakpoint-md:768px ;
    --breakpoint-lg:992px ;
    --breakpoint-xl:1170px ;
    --color-DarkBlue:#A395E9;
    --color-primary:#BABEC4;

}

.slick-slide{
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: center !important;
  margin:100px 1px -140px;  
}

.slick-dots .slick-active div{
    background-color:#a08ff3 ;
}


.animate-blurred-fade-in {
  animation: blurredFadeIn 3.5s cubic-bezier(0.22, 1, 0.36, 1) forwards;
}

@keyframes blurredFadeIn {
  0% {
    opacity: 0;
    filter: blur(10px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
  }
}