@import url('https://fonts.googleapis.com/css2?family=Castoro:ital@0;1&display=swap');
@import "tailwindcss";

body{
  background-color: #0B111E;
  box-sizing: border-box;
  font-family: "Castoro", serif;
}

@theme{
    --breakpoint-*: initial ;
    --breakpoint-sm:576px ;
    --breakpoint-md:768px ;
    --breakpoint-lg:992px ;
    --breakpoint-xl:1170px ;
    --color-DarkBlue:#A395E9;
    --color-primary:#BABEC4;

}



.slick-slide{
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: center !important;
  /* gap: 20px; */
  margin:100px 6px -140px;  
}


.slick-dots .slick-active div{
    background-color:#a08ff3 ;
    /* border: 2px solid #A395E9; */
}


